body{
    font-family: 'Playfair Display', serif;
    padding-left: 10%;
}
h1{
    font-size: 40px;
}
.color{
    color: palevioletred;
}
.first-section{
    display: flex;
}
.button{
    color: papayawhip;
    text-decoration: none;
    background-image: linear-gradient(rgb(238, 103, 41), rgb(200, 7, 39));
    border-radius: 5px;
    padding: 5px 10px;
}