body{
    font-family: 'Playfair Display', serif;
    padding-bottom: 50px;
}
.side-color{
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(0, 217, 255));
    border-image-slice: 1;
}
h1{
    font-size: 40px;
    
}
.color{
    color: palevioletred;
}
.flexible-container{
    display: flex;
}
.about-me{
    width: 50%;
    padding-left: 10%;
}
.about-me img{
    width: 60%;
}
.button{
    color: papayawhip;
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(rgb(238, 103, 41), rgb(200, 7, 39));
    border-radius: 5px;
    padding: 10px 45px;
}
.second-section{
    padding: 60px;
}
.h{
    text-align: center;
}
.year-color{
    color: palevioletred;
    font-size: 50px;
}
.middle-boxs img{
    width: 40%; 
    
}
.middle-boxs{
    width: 30%;
    border-radius: 5px;
    margin: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
}
#first-logo{
    background-color: rgb(251, 222, 232);
    
}
#second-logo{
    background-color: powderblue;
}
#third-logo{
    background-color: rgb(246, 246, 198);
}
.develope img{
    width: 100%;
    margin-top: 20%;
    margin-right: 20%;
}
.develope{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 10%;
    
}
.know-me img{
    width: 80%;
}
.know-me{
    width: 50%;
    padding-left: 10%;
}


